[run]
branch = False
cover_pylib = False
omit = 
    abjadide/docs/*
    abjadide/idetools/test/*
    abjadide/scores/*
    abjadide/test/*
    setup.py
source =
    abjadide

[report]
exclude_lines = 
    raise NotImplementedError