[run]
branch = False
cover_pylib = False
omit = 
    ide/docs/*
    ide/idetools/test/*
    ide/scores/*
    ide/test/*
    setup.py
source =
    ide

[report]
exclude_lines = 
    raise NotImplementedError